<footer class ="footer" style="position: fixed; bottom: 0; left: 0; right: 0;">
    <div class="containter">
        <span class="text" style="padding-left: 10px; padding-right: 10px;">
            Ivan Pintar
        </span>
        <img src='./assets/icons8-double-right.gif' style="height: 20px; width: 40px; padding-right: 10px;"  >
        <a href="https://github.com/ipintar">
        <img src='./assets/GitHub-Mark-32px.png'  width="30" height="30" alt='GitHub'>
        </a>
    </div>
</footer>
