<!--<app-welcome></app-welcome>-->

<!-- <app-login></app-login> -->







<app-menu></app-menu>
<ng-sidebar-container style="height: 100vh;" mode="push" >
 
    <!-- A sidebar -->
    
    
    <!-- Page content -->
    <div ng-sidebar-content >
        <button style="color: black; background-color: transparent; border-color: transparent;" *ngIf="isDisplay"  class="button" (mouseover)="_toggleSidebar()" >Toggle sidebar</button>
      <div class="container" >   
        <ng-sidebar [(opened)]="_opened">
            <div  class="navbar navbar-expand-md navbar-dark bg-dark" style="border-bottom-right-radius: 30%;" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()">           
                    <ul  style="list-style-type:none;">
                        <li  *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" closeSidebar><a routerLink="/welcome/user" class="sidebar">Home</a></li>
                        <hr>
                        <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" closeSidebar><a routerLink="/todos" class="sidebar">Tasks</a></li>
                        <hr>
                        <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" closeSidebar><a routerLink="/coins" class="sidebar">Crypto</a></li>
                    </ul>   
                    
              </div>
        </ng-sidebar>
        <div ng-sidebar-content>
            <div *ngIf="hardcodedAuthenticationService.isUserLoggedIn()">
           
        </div>
            <router-outlet></router-outlet>
            
        </div>
        
        </div>
    </div>

  </ng-sidebar-container>
  <app-footer></app-footer>